<div class="navBox">
    <div class="aHome"><a href="/">Home</a></div>
    <div class="dropdown">
        <input type="checkbox" id="checkbox-toggle">
        <label for="checkbox-toggle"> Planets &#9660;</label>
        <ul>
            <% for(i = 0; i < planets.length; i++) { %>
                <li><a href="/planets/<%= i + 1 %>"> <%= planets[i].planet_name %></a></li>
            <% } %>
        </ul>
    </div>
</div>


