<% include partials/head.ejs %>
<% include partials/nav.ejs %>


<!--images arrays-->

<!-- for more see 25:19 part 2 -->
<% for(i = 0; i < planets.length; i++) { %>
<a href="/planets/<%= planets[i].planet_number %>">
    <img src="/img/<%= planets[i].imgPost %>">
</a>
<% } %>


<% include partials/foot.ejs %>

