<% include partials/head.ejs %>

<!-- for more see 25:19 part 2 -->
<div class="hPage-bg">
    <% include partials/nav.ejs %>
    <header>
        <h1 class="headTitle text-center">Our Solar System</h1>
    </header>
    <div class="container">
        <div class="row grid">
            <% for(i = 0; i < planets.length; i++) { %>
            <div class="col-lg-3 col-md-6 col-xs-12 imgBox">
                <a href="/planets/<%= planets[i].planet_number %>">
                    <img class="img lazy" src="/img/<%= planets[i].gridImg %>">
                    <div class="label">
                        <p><%= planets[i].planet_name %></p>
                    </div>
                </a>
            </div>
            <% } %>
        </div>
    </div>


</div>

<% include partials/foot.ejs %>

