// body {
//     padding-top: 5rem;
//   }
//   .starter-template {
//     padding: 3rem 1.5rem;
//     text-align: center;
//   }

  $red: red;
  $yellow: yellow;
  $green: green;
  $purple: purple;

.red{
    color: $red;
  }

.yellow{
  color: $yellow;
}

.green{
  color: $green;
}

.help{
  font-size: 3rem;
}